body {
  margin: 0;
  font-family: "Montserrat", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

.header {
  display: flex;
  justify-content: space-between;
  max-width: 80%;
  margin: auto;
  align-items: center;
  margin-top: 1%;
  margin-bottom: 2%;
}
@media (max-width: 767px) {
  .header {
    max-width: 80%;
  }
}
.headerNav a {
  margin-left: 40px;
  color: #FF6060;
  text-decoration: none;
  font-size: 18px;
}
@media (max-width: 767px) {
  .headerNav a {
    font-size: 12px;
    margin-left: 20px;
  }
}
.headerNav a:hover {
  text-decoration: underline;
}
.headerNav .active {
  text-decoration: underline;
}
@media (max-width: 767px) {
  .headerLogo img {
    content: url("../assets/logoMobile.png");
  }
}
.header .activeLink {
  text-decoration: underline;
}

.footer {
  background-color: black;
  padding-top: 3%;
  padding-bottom: 1%;
}
.footerLogo {
  display: flex;
  justify-content: center;
}
@media (max-width: 767px) {
  .footer {
    padding: 15%;
  }
}

footer p {
  color: white;
  text-align: center;
}
@media (max-width: 767px) {
  footer p {
    width: 50%;
    margin: auto;
  }
}

.notFoundBody h1 {
  color: #FF6060;
  font-size: 175px;
  text-align: center;
}

.notFoundBodyTxt {
  color: #FF6060;
  text-align: center;
  font-weight: 500;
  font-size: 32px;
}

.notFoundLink {
  color: #FF6060;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10%;
}

.logementInfo {
  display: flex;
  width: 80%;
  margin: auto;
}
@media (max-width: 767px) {
  .logementInfo {
    flex-direction: column;
  }
}

.logementDesc {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  margin: auto;
}

.logementDescHost {
  display: flex;
}

.logementTitle, .logementLoc {
  color: #FF6060;
}

.hostImg {
  border-radius: 100px;
  height: 75px;
  width: 75px;
}

.hostName {
  color: #FF6060;
  margin: auto;
  margin-right: 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.hostFirstName,
.hostLastName {
  color: #FF6060;
  font-size: 18px;
  margin: 0;
  font-weight: 500;
}

.hostStars {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-between;
  width: 100%;
  margin: auto;
  margin-top: 10px;
}
@media (max-width: 767px) {
  .hostStars {
    flex-direction: row-reverse;
    align-items: center;
    margin-top: 25px;
  }
}

.logementCollapse {
  display: flex;
  width: 83%;
  margin: auto;
}
@media (max-width: 767px) {
  .logementCollapse {
    flex-direction: column;
    width: 100%;
    align-items: center;
  }
}

.card {
  width: 90%;
  height: 280px;
  -webkit-box-shadow: inset 0px -37px 26px 0px rgba(0, 0, 0, 0.53);
  box-shadow: inset 0px -37px 26px 0px rgba(0, 0, 0, 0.53);
  border-radius: 20px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: relative;
  padding: 10px;
  margin: auto;
  background-size: cover;
}
@media (max-width: 767px) {
  .card {
    height: 175px;
  }
}
.cardText {
  color: white;
  font-size: 14px;
  font-weight: 500;
  position: absolute;
  bottom: 10px;
  left: 15px;
  max-width: 45%;
}
@media (max-width: 767px) {
  .cardText {
    max-width: 30%;
    padding-left: 3%;
    padding-bottom: 3%;
  }
}
.cardRow {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px;
  background-color: #F6F6F6;
  padding: 3%;
  width: 74%;
  margin: auto;
  margin-top: 3%;
  margin-bottom: 3%;
  border-radius: 20px;
}
@media (max-width: 767px) {
  .cardRow {
    background-color: white;
    display: flex;
    flex-direction: column;
    width: 90%;
    gap: 20px;
  }
}

.banner {
  position: relative;
  margin-bottom: 2%;
}
.bannerImg {
  display: block;
  max-width: 80%;
  border-radius: 20px;
  margin: auto;
  object-fit: cover;
  height: 200px;
  width: 100%;
  filter: brightness(0.7);
}
@media (max-width: 767px) {
  .bannerImg {
    max-width: 85%;
    height: 100px;
  }
}
.bannerText {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -120%);
  color: white;
  font-size: 36px;
  text-align: center;
}
@media (max-width: 1039px) {
  .bannerText {
    bottom: -50px;
    left: 15%;
    transform: none;
    text-align: left;
    width: 65%;
    font-size: 24px;
  }
}
@media (max-width: 767px) {
  .bannerText {
    top: 1%;
    left: 10%;
    width: 55%;
    font-size: 20px;
  }
}

.collapse {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.collapseCard {
  width: 80%;
  padding: 15px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
}
.collapseCard .collapseCardTitle {
  background-color: #FF6060;
  color: white;
  font-weight: 500;
  padding: 10px;
  padding-left: 15px;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  font-size: 20px;
  cursor: pointer;
}
.collapseCard .collapseCardContent {
  background-color: #F6F6F6;
  border-radius: 5px;
  margin: 0;
  color: #FF6060;
  max-height: 0;
  overflow: hidden;
  transition: max-height 1.5s;
}
.collapseCard.open .collapseCardContent {
  max-height: 1000px;
}
.collapseCard .collapseCardContent p {
  padding: 10px;
}

.arrowCollapse {
  width: 25px;
  height: 20px;
  padding-left: 15px;
  padding-right: 15px;
  transition: transform 0.3s ease-in;
}

.arrowCollapse.open {
  transform-origin: center;
  transform: rotate(-180deg);
}

p.splitContentItem {
  padding: 0px;
  margin: 0px;
}

.carousel {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 80%;
  min-height: 470px;
  position: relative;
  margin: auto;
}
@media (max-width: 767px) {
  .carousel {
    min-height: 250px;
  }
}

.carouselImg {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
  object-fit: cover;
  object-position: center;
  border-radius: 15px;
}

.arrow {
  position: absolute;
}

.leftArrow {
  left: 10px;
}

.rightArrow {
  right: 10px;
}

.photoCounter {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 16px;
  color: white;
}

@media (max-width: 767px) {
  .leftArrow {
    content: url("../assets/leftArrowMobile.png");
  }
  .rightArrow {
    content: url("../assets/rightArrowMobile.png");
  }
}
.tags {
  display: flex;
  align-items: center;
  gap: 6px;
  width: 100%;
  overflow: auto;
}

.tag {
  background-color: #FF6060;
  color: white;
  font-size: 14px;
  padding: 3px;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 10px;
  white-space: nowrap;
}

.starRating {
  display: flex;
  align-items: center;
}
.starRating .star {
  color: #ccc;
  font-size: 1.5rem;
  margin-right: 4px;
}
.starRating .filled {
  color: #FF6060;
}

/*# sourceMappingURL=styles.css.map */
