.card {
    width: 90%;
    height: 280px;
    -webkit-box-shadow: inset 0px -37px 26px 0px rgba(0,0,0,0.53); 
    box-shadow: inset 0px -37px 26px 0px rgba(0,0,0,0.53);
    border-radius: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: relative;
    padding: 10px;
    margin: auto;
    background-size: cover;
    @media (max-width: 767px) {
      height: 175px;
  }

      &Text{
        color: white;
        font-size: 14px;
        font-weight: 500;
        position: absolute;
        bottom: 10px;
        left: 15px;
        max-width: 45%;
        @media (max-width: 767px) {
          max-width: 30%;
          padding-left: 3%;
          padding-bottom: 3%;
      }
      }
      &Row{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 40px;
        background-color: #F6F6F6;
        padding: 3%;
        width: 74%;
        margin: auto;
        margin-top: 3%;
        margin-bottom: 3%;
        border-radius: 20px;
        @media (max-width: 767px) {
          background-color: white;
          display: flex;
          flex-direction: column;
          width: 90%;
          gap: 20px;
      }
      }
  }
  